In [4]:
from tools import get_path,station_info,merge_dataFrame
import pandas as pd

fileName_list = get_path()
stations_df = station_info()
all_in_out = merge_dataFrame(fileName_list, stations_df)
station_in_out= pd.concat(all_in_out)
station_in_out

              日期   站名    進站    出站
0     2019-04-23   基隆  8442  7743
1     2019-04-23   三坑  1394  1348
2     2019-04-23   八堵  2770  2423
3     2019-04-23   七堵  6113  6335
4     2019-04-23   百福  2680  2726
...          ...  ...   ...   ...
86604 2023-12-31   瑞芳  7916  8252
86605 2023-12-31  海科館   164   195
86606 2023-12-31  八斗子   652   720
86607 2023-12-31  四腳亭  1526   656
86608 2023-12-31   暖暖   576   447

[406761 rows x 4 columns]

In [5]:
years = station_in_out['日期'].dt.year
station_in_out.groupby(by=years)[['進站','出站']].mean()

               進站           出站
日期
2019  2766.710256  2766.710256
2020  2395.895769  2395.895769
2021  1841.072083  1841.072083
2022  2026.060900  2026.060900
2023  2592.461315  2592.461315